.visual_layout {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.visual_header {
    box-sizing: border-box;
    height: 6%;
    background: linear-gradient(to bottom right, #5ea2ff, #00b9ff, #00caff);
}

.visual_sider {
    background: white;
    box-shadow: 0 13px 24px -11px rgba(33, 33, 33, 0.6);
    height: 100%;
}

.visual_header-row {
    align-items: center;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.visual_header-logo {
    display: flex;
    align-content: center;
    margin: auto;
}

.visual_sider_tab {
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.visual_sider-tab-item {
    margin-left: -24px
}

.visual_content-default {
    width: 100%;
    height: 600px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.visual_content-template {
    width: 320px;
    height: auto;
    margin: 55px auto 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
}

.visual_editor-layout {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*定位图标*/
.visual_editor-layout-pos-tab {
    position: absolute;
    width: 80px;
    height: 43px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.visual_editor-layout-pos-tab:hover {
    color: #19a0fa;
}