.default {
  width: 100%;
  height: 600px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.template {
  position: relative;
  width: 320px;
  height: auto;
  min-height: 600px;
  margin: 55px auto 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
}