.layout{

    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {

}

.side_tab {
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

.side-tab-item {
    margin-left: -24px
}

.default {
    width: 100%;
    height: 600px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.template {
    width: 320px;
    height: auto;
    margin: 55px auto 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
}

.editor-layout {
    width: 100%;
    height: 100%;
    overflow: auto;
}

/*定位图标*/
.editor-layout-pos-tab {
    position: absolute;
    width: 80px;
    height: 43px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.editor-layout-pos-tab:hover {
    color: #19a0fa;
}