/**
 示例文本样式
 */
.example_img {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: auto;
  width: 50px
}


/**
 组件样式
 */
.text_re_1 {
  border: 0 none;
  padding: 0;
}
.text_re_2 {
  position: static;
}
.text_re_3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: static;
}
.text_re_4 {
  width: 0;
  border-right-width: 10px;
  border-right-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}
.text_re_5 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.text_re_6 {
  position: static;
}

.text_2_1 {
  position: static;
  border: 0 none;
  padding: 0;
}
.text_2_2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  position: static;
}
.text_2_3 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.text_2_4 {
  position: static;
}
.text_2_5 {
  width: 0;
  border-left-width: 10px;
  border-left-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}

.text_3_1 {
  border: 0 none;
  margin-top: 1em;
  margin-bottom: 0.5em;
  clear: both;
  padding: 0;
}
.text_3_2 {
  border-bottom: 1px solid;
}
.text_3_3 {
  display: inline-block;
  margin-bottom: -1px;
  line-height: 1.1;
  border-bottom: 6px solid;
  font-size: 1.8em;
  font-family: inherit;
  text-decoration: inherit;
}

.text_4_1 {
  width: 0.6em;
  display: inline-block;
  vertical-align: middle;
}
.text_4_2 {
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 0.2;
  color: #fff;
  background-color: #4f36ce;
}
.text_4_3 {
  color: #4f36ce;
}
.text_4_4 {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 0.6;
  color: #fff;
  background-color: #4f36ce;
}
.text_4_5 {
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
  color: #fff;
  background-color: #4f36ce;
}
.text_4_6 {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  color: #4f36ce;
}

.text_5_1 {
  position: static;
  border: 0 none;
}
.text_5_2 {
  opacity: 0.8;
  border-width: 1px 0;
  border-style: solid;

  padding: 15px 10px 5px;
}
.text_5_3 {
  color: inherit;
  text-align: center;
  line-height: 2em;
  letter-spacing: 1px;
  white-space: normal;
}

.text_6_1 {
  position: static;
  border: 0 none;
}
.text_6_2 {
  border: none;
  margin: 0.8em auto 0.3em;
}
.text_6_3 {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: inherit;
  color: #fff;
  border-color: #fa8c00;
  display: inline-block;
  width: 100%;
}
.text_6_4 {
  padding: 0.5em;
  line-height: 1.2em;
  font-size: 1em;

  color: inherit;
}
.text_6_5 {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border-top-width: 0.6em;
  border-top-style: solid;

  height: 10px;
  border-left-width: 1em !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-right-width: 1em !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
}

.text_7_1 {
  position: static;
  border: 0 none;
}
.text_7_2 {
  min-height: 1em;
  white-space: normal;
  color: #3e3e3e;
  line-height: 1.6;
  font-size: 11px;
  text-align: center;
}
.text_7_4 {
  text-align: center;
  font-size: 17px;
  white-space: normal;
}

.text_8_1 {
  position: static;
  border: 0 none;
}
.text_8_2 {
  clear: both;
  border: 0 none;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.text_8_3 {
  border-top: 2px solid;
  font-size: 1em;
  font-weight: inherit;
  text-decoration: inherit;
}
.text_8_4 {
  padding-right: 0.5em;
  padding-left: 0.5em;

  display: inline-block;
}

.text_9_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}
.text_9_2 {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  margin-top: 0.7em;
}
.text_9_3 {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  margin-right: 5px;
  margin-left: 5px;

  border-radius: 0.5em;
  font-size: 1.2em;
  font-family: inherit;
  text-decoration: inherit;
  max-width: 90% !important;
  color: #797979;
}

.text_10_1 {
  position: static;
  border: 0 none;
}
.text_10_2 {
  margin-right: auto;
  margin-left: auto;
}
.text_10_3 {
  border-left-width: 6px;
  border-right-width: 0;
  border-left-style: solid;
  display: inline-block;
  float: left;
  color: inherit;
  margin-top: 8px;
  border-bottom-width: 6px !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.text_10_4 {
  border-left-width: 6px;
  border-right-width: 0;
  border-left-style: solid;

  display: inline-block;
  float: left;
  color: inherit;
  margin-top: 8px;
  border-bottom-width: 6px !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.text_10_5 {
  border-left-width: 20px;
  border-right-width: 0;
  border-left-style: solid;
  display: inline-block;
  float: left;
  color: inherit;
  border-bottom-width: 15px !important;
  border-top-width: 15px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.text_10_6 {
  display: inline-block;
  margin-left: 10px;
  color: inherit;
  line-height: 2.3em;
}

.text_11_1 {
  position: static;
  border: 0 none;
}
.text_11_2 {
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: inherit;
}
.text_11_3 {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  margin-top: 0.7em;
  color: #fff;
}
.text_11_4 {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-family: inherit;
  text-align: left;
  text-decoration: inherit;
  color: inherit;
  height: 2em;
  line-height: 2em;
  max-width: 80% !important;
}
.text_11_5 {
  width: 1em;
  height: 1em;
  margin-bottom: 0.7em;
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
}
.text_11_6 {
  width: 0;
  height: 0;
  clear: both;
}

.text_12_1 {
  text-align: center;
  text-decoration: inherit;
  border-color: #1c59a5;
  display: inline-block;
}
.text_12_2 {
  padding: 10px;
  line-height: 1.2em;
}
.text_12_3 {
  text-align: left;
  white-space: normal;
}

.text_13_1 {
  padding: 5px 30px 5px 5px;
  border-radius: 0 20px 20px 0;
  display: inline-block;
  color: #fff;
}

.text_14_1 {
  margin-top: 10px;
  margin-left: 16px;
}
.text_14_2 {
  color: #7f7f7f;
  font-size: 20px;
}
.text_14_3 {
  background-color: #fefefe;
  border-color: #ff8c00;
  color: #797979;
  padding: 0.2em 0.5em;
  text-align: center;
}
.text_14_4 {
  margin: -1.2em auto 5px;
  padding: 20px 10px 5px;
  border: 1px solid #ff8c00;
  color: #333;
}

.text_15_1 {
  margin: 10px;
  display: inline-block;
}
.text_15_2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.text_15_3 {
  margin-left: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #fff;
  float: left;
}
.text_15_4 {
  padding-top: 13px;
  float: left;
  font-weight: 700;
  height: 50px;
  background: initial initial initial initial;
}

.text_16_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  text-align: center;
}
.text_16_2 {
  display: inline-block;
  margin: auto;
}
.text_16_3 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 1.2em;
  font-family: inherit;
  text-decoration: inherit;
}
.text_16_4 {
  margin-top: -3px;
}
.text_16_5 {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: -1px;
  border-radius: 100%;
}
.text_16_6 {
  width: 6px;
  height: 6px;
  float: right;
  margin-right: -1px;
  border-radius: 100%;
}
.text_16_7 {
  color: #797979;
  padding: 8px 10px 5px;
}
.text_16_8 {
  margin-top: -3px;
}
.text_16_9 {
  width: 6px;
  height: 6px;
  float: left;
  margin-left: -3px;
  border-radius: 100%;
}
.text_16_10 {
  width: 6px;
  height: 6px;
  float: right;
  margin-right: -3px;
  border-radius: 100%;
}

.text_17_1 {
  margin: 20px;
  display: inline-block;
  line-height: 1.5em;
}
.text_17_2 {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  -webkit-transform: rotate(45deg) translateZ(0px);
  display: inline-block;
}
.text_17_3 {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.text_18_1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.text_18_2 {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  color: #fff;
}
.text_18_3 {
  border: 1px solid #fff;
  padding: 0.5em 1.5em;
}
.text_18_4 {
  font-size: 20px;
  line-height: 20px;
  white-space: normal;
}

.text_19_1 {
  border-radius: 2em;
  line-height: 2.5em;
  padding: 4px;
  color: #fff;
}
.text_19_2 {
  border: 1px solid #fefefe;
  border-radius: 2em;
  padding: 4px;
}
.text_19_3 {
  text-align: center;
  white-space: normal;
}

.text_20_1 {
  width: 5px;
  float: left;
}
.text_20_2 {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  padding-top: 8px;
  padding-bottom: 10px;
  color: inherit;
}
.text_20_3 {
  border-left-width: 12px;
  border-right-width: 0;
  border-left-style: solid;
  display: inline-block;
  height: 10px;
  width: 10px;
  float: left;
  color: inherit;
  border-bottom-width: 8px !important;
  border-top-width: 8px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
.text_20_4 {
  padding: 2px 20px;
  font-size: 20px;
  color: #797979;
}

.text_21_1 {
  border: 0 none;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-family: inherit;
  text-align: center;
  text-decoration: inherit;
  padding: 0;
}
.text_21_2 {
  width: 100%;
  float: left;
}
.text_21_3 {
  float: left;
  width: 5%;
  height: 2.22em;
  margin-top: -0.12em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
}
.text_21_4 {
  float: left;
  height: 2em;
  width: 90%;
}
.text_21_5 {
  width: 100%;
  height: 1em;
  margin-top: -1em;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}
.text_21_6 {
  width: 100%;
  height: 1em;
  margin-top: 2em;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
}
.text_21_7 {
  float: left;
  width: 5%;
  height: 2.22em;
  margin-top: -0.12em;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
.text_21_8 {
  width: 96%;
  float: left;
  height: 3em;
  margin-left: 2%;
  margin-top: -2.6em;
  line-height: 3em;
  overflow: hidden;
  color: #797979;
}

.text_22_1 {
  margin-right: auto;
  margin-left: auto;
}
.text_22_2 {
  margin: 5px auto;
  padding: 0.5em 1.5em;
  white-space: normal;
  border: none;
  text-align: center;
}
.text_22_3 {
  display: inline-block;
  padding-bottom: 15px;
  line-height: 1.5;
  width: 20px;
}
.text_22_4 {
  font-size: 20px;
}
.text_22_5 {
  font-size: 18px;
  color: #797979;
}

.text_23_1 {
  position: static;
  box-sizing: border-box;
  border: 0 none;
  padding: 0;
}
.text_23_2 {
  margin: 3px auto;
  padding: 15px;
  color: #797979;
  line-height: 24px;

  border: 2px solid #f0f0f0;
}

.text_24_1 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.text_24_2 {
  height: 6px;
  color: inherit;
}
.text_24_3 {
  height: 100%;
  width: 6px;
  float: left;
}
.text_24_4 {
  height: 100%;
  width: 6px;
  float: right;
}
.text_24_5 {
  color: #797979;
  margin: -1px 5px;
  padding: 4px;
}
.text_24_6 {
  padding: 1em;
}

.text_25_1 {
  margin: 5px auto;
  padding: 5px;
}
.text_25_2 {
  padding: 15px;
  text-align: center;
  color: inherit;
}
.text_25_3 {
  color: inherit;
  font-size: 12px;
  white-space: normal;
}

.text_26_1 {
  margin: 3px auto;
  padding: 15px;
  color: #797979;
  line-height: 24px;
  box-shadow: #fff 0 0 2px;
}

.text_27_1 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 10px;
  color: inherit;
}
.text_27_2 {
  color: inherit;
  height: 8px;
  margin-top: -8px;
  margin-right: 4%;
  margin-left: 4%;
  background-color: #fefefe;
}
.text_27_3 {
  line-height: 2em;
  color: #3e3e3e;
  font-size: 14px;
  margin: 15px 10px;
}
.text_27_4 {
  color: #797979;
  white-space: normal;
}
.text_27_5 {
  background-color: #fefefe;
  color: inherit;
  text-align: right;
  height: 10px;
  margin-right: 4%;
  margin-bottom: -4px;
  margin-left: 4%;
}

.text_28_1 {
  border: 0 none;
  padding: 0;
}
.text_28_2 {
  position: static;
  border: 0 none;
}
.text_28_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_28_4 {
  width: 25%;
  text-align: right;
}
.text_28_5 {
  opacity: 0.8;
  margin-top: 5px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  color: inherit;
  border-left-width: 6px !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-right-width: 6px !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
  display: inline-block;
}
.text_28_6 {
  opacity: 0.4;
  border-right-width: 10px;
  border-left-width: 0;
  border-right-style: solid;

  color: inherit;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  -webkit-transform: rotate(10deg);
  border-bottom-width: 6px !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  display: inline-block;
}
.text_28_7 {
  border-left-width: 20px;
  border-right-width: 0;
  border-left-style: solid;

  color: inherit;
  -webkit-transform: rotate(10deg);
  border-bottom-width: 10px !important;
  border-top-width: 15px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  display: inline-block;
  vertical-align: middle;
}
.text_28_8 {
  width: 50%;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}
.text_28_9 {
  display: inline-block;
}
.text_28_10 {
  width: 25%;
  text-align: left;
}
.text_28_11 {
  display: inline-block;
}
.text_28_12 {
  width: 0;
  height: 0;
  clear: both;
}

.text_29_1 {
  border: 0 none;
  padding: 0;
}
.text_29_2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_29_3 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #f8d497;
  margin-top: -30px;
  margin-right: -15px;
}
.text_29_4 {
  padding: 5px 20px;
}
.text_29_5 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #f8d497;
  margin-left: 5px;
}

.text_30_1 {
  border: 0 none;
  padding: 0;
}
.text_30_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_30_3 {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background: #fff;
  padding: 2px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-top: -30px;
  margin-right: -10px;
  box-sizing: border-box;
}
.text_30_4 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #f8d497;
}
.text_30_5 {
  padding: 5px 20px;
}
.text_30_6 {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #fff;
  padding: 2px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-left: -10px;
  box-sizing: border-box;
}
.text_30_7 {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #f8d497;
}

.text_31_1 {
  border: 0 none;
  padding: 0;
}
.text_31_2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_31_3 {
  width: 30px;
  height: 10px;

  transform: skewX(45deg);
}
.text_31_4 {
  width: 30px;
  height: 10px;
  transform: skewX(-45deg);
}
.text_31_5 {
  padding: 0 15px;
}

.text_32_1 {
  border: 0 none;
  padding: 0;
}
.text_32_2 {
  margin-top: 10px;
  text-align: center;
}
.text_32_3 {
  display: inline-block;
  width: 30px;
  height: 2px;

  vertical-align: bottom;
}
.text_32_4 {
  display: inline-block;
  vertical-align: top;
}
.text_32_5 {
  height: 5px;

  border-bottom: none;
}
.text_32_6 {
  height: 5px;

  border-top: none;
}
.text_32_7 {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #2aaade;
  vertical-align: top;
}
.text_32_8 {
  padding: 2px 10px;
  font-size: 18px;
  color: #060606;
}

.text_33_1 {
  margin-top: 10px;
  border: 0 none;
  padding: 0;
}
.text_33_2 {
  text-align: center;
  padding-bottom: 10px;
}
.text_33_3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.text_33_4 {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  transform: rotate(45deg);
  margin-left: -4px;
  background: transparent;
}
.text_33_5 {
  display: inline-block;
  margin-left: -20px;
}
.text_33_6 {
  display: inline-block;
  border: 9px solid transparent;
  vertical-align: middle;
  margin-bottom: 3px;
}

.text_34_1 {
  padding: 0.8em;
  border-width: 1px 0.4em;
  border-style: solid;

  border-radius: 0.3em;
}
.text_34_2 {
  color: #797979;
  white-space: normal;
}

.text_35_1 {
  margin: 10px auto;
}
.text_35_2 {
  display: inline-block;
  width: 100%;
  line-height: 0;
}
.text_35_3 {
  height: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
}
.text_35_4 {
  margin-right: auto;
  margin-bottom: -8px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #f87a7a;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #fefefe;
}
.text_35_5 {
  margin-top: 4px;
  margin-right: -4px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #f87a7a;
  display: inline-block;
  height: 10px;
  width: 10px;
  float: right;
  background-color: #fefefe;
}
.text_35_6 {
  line-height: 2em;
  font-size: 14px;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 6px;
}
.text_35_7 {
  color: #fff;
  white-space: normal;
}
.text_35_8 {
  margin-right: auto;
  margin-bottom: -10px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #f87a7a;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #fefefe;
}
.text_35_9 {
  margin: 6px -4px -4px;
  border-radius: 100%;
  line-height: 1;
  border-color: #f87a7a;
  display: inline-block;
  height: 10px;
  width: 10px;
  float: right;
  background-color: #fefefe;
}

.text_36_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}
.text_36_2 {
  width: 6px;
  height: 6px;
  margin-left: -3px;
  border-radius: 100%;
}
.text_36_3 {
  color: #797979;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  vertical-align: bottom;
  font-size: 1em;
  font-family: inherit;
  text-decoration: inherit;
}
.text_36_4 {
  width: 6px;
  height: 6px;
  float: right;
  margin-top: -3px;
  border-radius: 100%;
}

.text_37_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: inherit;
  text-decoration: inherit;
  padding: 0;
}
.text_37_2 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.text_37_3 {
  width: 100%;
}
.text_37_4 {
  width: 0;
  border-top-width: 1em;
  border-top-style: solid;

  float: left;
  border-left-width: 1em;
  border-left-style: solid;

  border-right-width: 1em !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
  border-bottom-width: 1em !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}
.text_37_5 {
  width: 0;
  border-top-width: 1em;
  border-top-style: solid;
  float: right;
  border-right-width: 1em;
  border-right-style: solid;
  border-left-width: 1em !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-bottom-width: 1em !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}
.text_37_6 {
  color: #797979;
  width: 100%;
  padding-top: 2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.text_37_7 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.text_37_8 {
  width: 0;
  float: left;
  border-left-width: 1em;
  border-left-style: solid;
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-top-width: 1em !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-right-width: 1em !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
}
.text_37_9 {
  width: 0;
  float: right;
  display: inline-block;
  border-right-width: 1em;
  border-right-style: solid;
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-top-width: 1em !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-left-width: 1em !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
}

.text_38_1 {
  margin: 3px auto;
  padding: 10px;
  color: #3e3e3e;
  line-height: 24px;

  border-radius: 8px;
}
.text_38_2 {
  border: 0 none #1e9be8;
  clear: both;
  color: inherit;
}
.text_38_3 {
  color: #fff;
  float: right;
  width: 6px;
  border-radius: 50%;
  margin-bottom: -3px;
  box-shadow: #757575 0 0 5px;
  height: 6px !important;
}
.text_38_4 {
  color: #fff;
  width: 6px;
  border-radius: 50%;
  margin-bottom: -2px;
  box-shadow: #757575 0 0 5px;
  height: 6px !important;
}
.text_38_5 {
  padding: 10px;
}
.text_38_6 {
  color: #797979;
  text-align: center;
  white-space: normal;
}
.text_38_7 {
  border: 0 none #1e9be8;
  clear: both;
  color: inherit;
}
.text_38_8 {
  color: #fff;
  float: right;
  width: 6px;
  border-radius: 50%;
  margin-bottom: -3px;
  box-shadow: #757575 0 0 5px;

  height: 6px !important;
}
.text_38_9 {
  color: #fff;
  width: 6px;
  border-radius: 50%;
  margin-bottom: -2px;
  box-shadow: #757575 0 0 5px;
  height: 6px !important;
}

.text_39_1 {
  font-size: 14px;
  font-family: Microsoft YaHei, serif;
  margin: 5px auto;
}
.text_39_2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text_39_3 {
  margin-left: 22px;
  margin-bottom: -2px;
  -webkit-transform: rotate(0deg);
}
.text_39_4 {
  margin-left: 1px;
  width: 15px;
  height: 15px;
  border-width: 2px 2px 0 0;
  border-style: solid;

  -webkit-transform: rotate(-45deg);
}
.text_39_5 {
  margin-top: -8px;
  width: 17px;
  height: 15px;
  border-width: 0 2px;
  border-style: solid;
}
.text_39_6 {
  margin-right: auto;
  margin-bottom: -2px;
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 5px;

  border-image-source: none;
  color: inherit;
}
.text_39_7 {
  font-size: 14px;
  color: #3b3c3c;
  line-height: 1.5em;
  text-indent: 2em;
  text-align: justify;
}
.text_39_8 {
  color: #797979;
  font-family: Microsoft YaHei &, serif, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.text_40_1 {
  margin: 5px auto;
  color: #fff;
}
.text_40_2 {
  clear: both;
  color: inherit;
}
.text_40_3 {
  color: inherit;
  float: right;
  width: 12px;
  margin-top: -1px;
  margin-right: -1px;
  background-color: #fefefe;
  height: 11px !important;
}
.text_40_4 {
  color: inherit;
  float: left;
  width: 11px;
  margin-top: -1px;
  margin-left: -1px;
  background-color: #fefefe;
  height: 11px !important;
}
.text_40_5 {
  padding-top: 10px;
  color: inherit;
}
.text_40_6 {
  color: inherit;
  float: right;
  width: 11px;
  margin-top: -1px;
  margin-right: 10px;
  height: 11px !important;
}
.text_40_7 {
  color: inherit;
  float: left;
  width: 11px;
  margin-left: 9px;
  margin-top: -1px;
  height: 11px !important;
}
.text_40_8 {
  padding-top: 10px;
  color: inherit;
}
.text_40_9 {
  padding: 20px;
}
.text_40_10 {
  text-align: justify;
  color: #797979;
  line-height: 1.75em;
  white-space: normal;
}
.text_40_11 {
  color: inherit;
}
.text_40_12 {
  color: inherit;
  float: right;
  width: 11px;
  margin-top: -1px;
  margin-right: 10px;
  height: 11px !important;
}
.text_40_13 {
  color: inherit;
  float: left;
  width: 11px;
  margin-top: -1px;
  margin-left: 10px;
  height: 11px !important;
}
.text_40_14 {
  margin-bottom: -1px;
  padding-top: 10px;
  color: inherit;
}
.text_40_15 {
  color: inherit;
  float: right;
  width: 12px;
  margin-top: -1px;
  margin-right: -1px;
  background-color: #fefefe;
  height: 11px !important;
}
.text_40_16 {
  color: inherit;
  float: left;
  width: 11px;
  margin-top: -1px;
  height: 11px !important;
}
.text_40_17 {
  width: 12px;
  margin-top: -1px;
  background-color: #fefefe;
  margin-left: -1px;
  height: 11px !important;
}

.text_41_1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.text_41_2 {
  margin-bottom: -19px;
  -webkit-transform: rotate(0deg);
  display: inline-block;
}
.text_41_3 {
  margin-right: auto;
  margin-left: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}
.text_41_4 {
  font-size: 18px;
}
.text_41_5 {
  margin-bottom: -16px;
  padding: 20px 10px;

  color: #333332;
}
.text_41_6 {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5em;
  text-indent: 2em;
}
.text_41_7 {
  color: #797979;
}
.text_41_8 {
  -webkit-transform: rotate(0deg);
  display: inline-block;
}
.text_41_9 {
  margin-right: auto;
  margin-left: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}
.text_41_10 {
  font-size: 18px;
}

.text_42_1 {
  height: 6px;
}
.text_42_2 {
  height: 100%;
  width: 6px;
  float: left;
}
.text_42_3 {
  height: 100%;
  width: 6px;
  float: right;
}
.text_42_4 {
  margin: -1px 5px;
  padding: 1em;
}
.text_42_5 {
  color: #797979;
  white-space: normal;
}
.text_42_6 {
  height: 6px;
  color: inherit;
}
.text_42_7 {
  height: 100%;
  width: 6px;
  float: left;
}
.text_42_8 {
  height: 100%;
  width: 6px;
  float: right;
}

.text_43_1 {
  border: 0;
  margin: 5px auto;
}
.text_43_2 {
  height: 25px;
  color: inherit;
}
.text_43_3 {
  height: 100%;
  width: 50px;
  float: left;
  border-top: 2px solid;
  border-left: 2px solid;
  color: inherit;
}
.text_43_4 {
  display: inline-block;
  color: #ac1d10;
  clear: both;
}
.text_43_5 {
  margin: -0.8em 0.3em;
  padding: 0.8em;
  color: inherit;
}
.text_43_6 {
  color: #797979;
  font-size: 1em;
  line-height: 1.75em;
  word-break: break-all;
  text-align: justify;
  white-space: normal;
}
.text_43_7 {
  height: 25px;
  color: inherit;
}
.text_43_8 {
  height: 100%;
  width: 50px;
  float: right;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: inherit;
}

.text_44_1 {
  white-space: normal;
  font-size: 14px;
  margin: 2px auto;
  padding: 10px;
}

.text_45_1 {
  padding: 15px 20px;
  color: #666;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  word-break: break-all;
}
.text_45_2 {
  color: #797979;
  white-space: normal;
}

.text_46_1 {
  border: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}
.text_46_2 {
  height: 6px;
  color: inherit;
}
.text_46_3 {
  height: 100%;
  width: 6px;
  float: left;
  border-top: 2px solid;
  border-left: 2px solid;
  color: inherit;
}
.text_46_4 {
  height: 100%;
  width: 6px;
  float: right;
  border-top: 2px solid;
  border-right: 2px solid;
  color: inherit;
}
.text_46_5 {
  display: inline-block;
  color: #757576;
  clear: both;
  border-color: #757576;
}
.text_46_6 {
  margin: -1px 4px;
  padding: 0.8em;
  color: inherit;
}
.text_46_7 {
  color: #797979;
  font-size: 1em;
  line-height: 1.4;
  word-break: break-all;
}
.text_46_8 {
  height: 6px;
  color: inherit;
}
.text_46_9 {
  height: 100%;
  width: 6px;
  float: left;
  border-bottom: 2px solid;
  border-left: 2px solid;
  color: inherit;
}
.text_46_10 {
  height: 100%;
  width: 6px;
  float: right;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: inherit;
}

.text_47_1 {
  width: 4em;
  margin-top: 1.9em;
  margin-bottom: -1.8em;
  margin-left: -1em;
}
.text_47_2 {
  height: 5em;
  padding-left: 10px;
}
.text_47_3 {
  padding-top: 25px;
  padding-bottom: 10px;
  margin-top: -4em;
  margin-left: 1.1em;
  margin-right: 2.1em;
}
.text_47_4 {
  color: #797979;
  white-space: normal;
}
.text_47_5 {
  margin-top: -4.8em;
  margin-bottom: 1em;
}
.text_47_6 {
  height: 5em;
  margin-top: 1.9em;
  margin-bottom: -1.8em;
  margin-left: -1em;
}
.text_47_7 {
  width: 4em;
  float: right;
}

.text_48_1 {
  margin: 10px auto;
}
.text_48_2 {
  display: inline-block;
  width: 100%;
  line-height: 0;
  color: #fff;
}
.text_48_3 {
  height: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
}
.text_48_4 {
  margin-right: auto;
  margin-bottom: -8px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #88bfb1;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #fefefe;
}
.text_48_5 {
  margin-top: 4px;
  margin-right: -4px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #88bfb1;
  display: inline-block;
  height: 10px;
  width: 10px;
  float: right;
  background-color: #fefefe;
}
.text_48_6 {
  padding: 2px;
  line-height: 2em;
  border: 1px solid #fefefe;
  font-size: 14px;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 10px;
}
.text_48_7 {
  padding: 6px;
  line-height: 2em;
  border: 1px solid #fefefe;
}
.text_48_8 {
  margin-right: auto;
  margin-bottom: -10px;
  margin-left: -4px;
  border-radius: 100%;
  line-height: 1;
  text-decoration: inherit;
  border-color: #88bfb1;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #fefefe;
}
.text_48_9 {
  margin: 6px -4px -4px;
  border-radius: 100%;
  line-height: 1;
  border-color: #88bfb1;
  display: inline-block;
  height: 10px;
  width: 10px;
  float: right;
  background-color: #fefefe;
}

.text_49_1 {
  margin: 5px auto;
  color: #fff;
}
.text_49_2 {
  clear: both;
  color: inherit;
}
.text_49_3 {
  color: inherit;
  float: right;
  width: 11px;
  margin-top: -2px;
  margin-right: -2px;
  height: 11px !important;
}
.text_49_4 {
  color: inherit;
  float: left;
  width: 11px;
  margin-top: -2px;

  margin-left: -2px;
  height: 11px !important;
}
.text_49_5 {
  padding-top: 10px;
  color: inherit;
  border-color: #cd433b;
}
.text_49_6 {
  padding: 10px;
}
.text_49_7 {
  text-align: center;
  color: #797979;
  line-height: 1.75em;
  white-space: normal;
}
.text_49_8 {
  margin-bottom: -2px;
  padding-top: 10px;
  color: inherit;
  border-color: #cd433b;
}
.text_49_9 {
  color: inherit;
  float: right;
  width: 12px;

  margin-right: -2px;
  height: 11px !important;
}
.text_49_10 {
  color: inherit;
  width: 12px;
  margin-left: -2px;
  height: 11px !important;
}

.text_50_1 {
  margin: 3px;
  line-height: 24px;
}
.text_50_2 {
  clear: both;
  color: inherit;
}
.text_50_3 {
  color: inherit;
  float: right;
  width: 10px;
  margin-bottom: -3px;
  border-color: #8ac1e2;
  margin-right: 10px;
  height: 10px !important;
}
.text_50_4 {
  color: inherit;
  float: left;
  width: 10px;
  margin-bottom: -3px;
  border-color: #8ac1e2;
  height: 10px !important;
}
.text_50_5 {
  padding-top: 10px;
  color: inherit;
}
.text_50_6 {
  color: inherit;
  float: right;
  width: 10px;
  margin-bottom: -2px;
  border-color: #8ac1e2;
  height: 10px !important;
}
.text_50_7 {
  padding: 20px 10px 10px;
  color: inherit;
}
.text_50_8 {
  color: #797979;
  white-space: normal;
}
.text_50_9 {
  color: inherit;
  width: 10px;
  margin-bottom: -2px;
  border-color: #8ac1e2;

  height: 10px !important;
}
.text_50_10 {
  color: inherit;
  width: 10px;
  margin-bottom: -2px;
  border-color: #8ac1e2;
  margin-left: 10px;

  height: 10px !important;
}
.text_50_11 {
  clear: both;
  color: inherit;
}
.text_50_12 {
  color: inherit;
  float: right;
  width: 10px;
  margin-bottom: -3px;
  border-color: #8ac1e2;

  height: 10px !important;
}
.text_50_13 {
  color: inherit;
  width: 10px;
  margin-bottom: -2px;
  border-color: #8ac1e2;

  height: 10px !important;
}

.text_51_1 {
  border: none;
  margin: 5px auto;
}
.text_51_2 {
  color: #797979;
  font-size: 20px;
  text-align: center;
  margin-right: auto;
  margin-bottom: -2px;
  margin-left: auto;
  border-radius: 5px;
  padding: 5px 5px 15px;
}
.text_51_3 {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border-top-width: 0.6em;
  border-top-style: solid;
  height: 10px;
  color: inherit;
  border-left-width: 0.7em !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-right-width: 0.7em !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
}
.text_51_4 {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border-top-width: 0.6em;
  border-top-style: solid;
  border-bottom-color: #fefefe;
  border-top-color: #fefefe;
  height: 10px;
  margin-top: -12px;
  color: inherit;
  border-left-width: 0.7em !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-right-width: 0.7em !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
}

.text_52_1 {
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: inherit;
}
.text_52_2 {
  color: inherit;
  margin-bottom: 8px;
  width: 0;
  height: 0;
  border: 10px solid;
  z-index: 1;
}
.text_52_3 {
  margin: 5px;
}
.text_52_4 {
  color: #797979;
  line-height: 1.2em;
  text-align: left;
  white-space: normal;
}
