.img_1_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

.img_1_2 {
  -webkit-box-shadow: rgba(159, 160, 160, 0.498039) 0 0 10px;
  box-shadow: rgba(159, 160, 160, 0.498039) 0 0 10px;
  padding: 10px;
}

.img_1_3 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.270196) 0 0 10px inset;
  box-shadow: rgba(0, 0, 0, 0.270196) 0 0 10px inset;
  padding: 7px;
}

.img_1_4 {
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-family: inherit;
  text-align: right;
  text-decoration: inherit;
  color: #a0a0a0;
}

.img_1_5 {
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 0.9em;
  font-family: inherit;
  text-decoration: inherit;
  color: #a0a0a0;
}

.img_2_1 {
  border: 0 none;
  padding: 0;
}

.img_2_2 {
  position: static;
  border: 0 none;
}

.img_2_3 {
  margin-right: 5px;
  margin-left: 5px;
  border: 5px solid #fff;
  box-shadow: #e6e6dc 1px 1px 5px 1px;
  border-radius: 2%;
  color: #797979;
  background-color: rgba(255, 255, 255, 0.6);
}

.img_2_4 {
  padding: 20px 10px;
  border: 0 none;
  border-top: 5px solid #fff;
  border-left-color: #dbdbdb;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.img_3_1 {
  position: static;
  box-sizing: border-box;
}

.img_3_2 {
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #c6c6c7;
  color: #000;
  font-size: 14px;
  margin: 25px 10px;
  box-shadow: #787878 0 0 8px;
}

.img_3_3 {
  padding: 0;
  margin: -4px 0 2px -4px;
  color: inherit;
  background-color: #fff;
  box-shadow: #c6c6c6 0 0 8px;
  border: 1px solid #c6c6c7;
}

.img_3_4 {
  background-color: inherit;
  padding: 10px 10px 4px 10px;
  margin: -4px 0 2px -4px;
  color: inherit;
  box-shadow: #c6c6c6 0 0 8px;
  border: 1px solid #c6c6c7;
}

.img_4_1 {
  position: static;
  box-sizing: border-box;
}

.img_4_2 {
  margin: 5px 0 10px;
  line-height: 24px;
  color: #fff;
  border-color: #f2d49b;
  background-color: #fcb42b;
}

.img_4_3 {
  margin: 0;
  clear: both;
  box-sizing: border-box;
  padding: 0;
  color: inherit;
}

.img_4_4 {
  color: inherit;
  float: right;
  width: 10px;
  margin-bottom: -3px;
  border-color: #fcb42b;
  margin-right: 10px;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_5 {
  color: inherit;
  float: left;
  width: 10px;
  margin-bottom: -3px;
  border-color: #fcb42b;
  margin-left: 10px;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_6 {
  margin: 0;
  padding: 10px 0 0;
  color: inherit;
  border-color: #fcb42b;
}

.img_4_7 {
  color: inherit;
  float: right;
  width: 10px;
  margin-bottom: -10px;
  border-color: #fcb42b;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_8 {
  color: inherit;
  float: left;
  width: 10px;
  margin-bottom: -10px;
  border-color: #fcb42b;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_9 {
  border: 0 none #fcb42b;
  clear: both;
  box-sizing: border-box;
  padding: 0;
  color: inherit;
}

.img_4_10 {
  color: inherit;
  float: left;
  width: 10px;
  margin-top: -10px;
  border-color: #fcb42b;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_11 {
  color: inherit;
  float: right;
  width: 10px;
  margin-top: -10px;
  border-color: #fcb42b;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_12 {
  color: inherit;
  float: right;
  width: 10px;
  border-color: #fcb42b;
  margin-right: 10px;
  height: 10px !important;
  background-color: #fefefe;
}

.img_4_13 {
  color: inherit;
  text-align: left;
  width: 10px;
  border-color: #fcb42b;
  margin-left: 10px;
  height: 10px !important;
  background-color: #fefefe;
}

.img_5_1 {
  position: static;
  box-sizing: border-box
}

.img_5_2 {
  margin: 5px 0 10px;
  line-height: 24px;
  color: #464648;
  border-color: #c6c6c7
}

.img_5_3 {
  margin: 0;
  padding: 10px 0 8px;
  color: inherit;
  border: 1px solid #c6c6c7;
  box-shadow: #c6c6c6 0 0 5px
}

.img_5_4 {
  color: inherit;
  text-align: center;
  padding: 0 10px;
  border-color: #c6c6c7
}

.img_5_5 {
  margin-top: -16px;
  box-sizing: border-box;
  border-color: #c6c6c7;
  margin-bottom: 18px;
  color: inherit
}

.img_5_6 {
  color: inherit;
  float: right;
  width: 15px;
  border-color: #a4a4cf;
  text-align: center;
  line-height: 1em;
  height: 15px !important;
  background-color: #f90909
}

.img_5_7 {
  border-color: #c6c6c7;
  color: #fff
}

.img_6_1 {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

.img_6_2 {
  display: flex;
  justify-content: space-between
}

.img_6_3 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #ff8966;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ff8966;
  font-weight: 700;
  transform: rotate(360deg);
  background-image: initial;
  background-attachment: initial;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial
}

.img_6_4 {
  margin-bottom: 2px
}

.img_6_5 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #ff8966;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ff8966;
  font-weight: 700;
  transform: rotate(-45deg);
  background-image: initial;
  background-attachment: initial;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial
}

.img_6_6 {
  margin: -10px 10px;
  padding: 15px 10px;
  border: 2px solid #ff8966
}

.img_6_7 {
  margin-top: 10px;
  font-size: 14px;
  color: #060606
}

.img_6_8 {
  display: flex;
  justify-content: space-between
}

.img_6_9 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #ff8966;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ff8966;
  font-weight: 700;
  transform: rotate(45deg);
  background-image: initial;
  background-attachment: initial;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial
}

.img_6_10 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #ff8966;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #ff8966;
  font-weight: 700;
  transform: rotate(360deg);
  background-image: initial;
  background-attachment: initial;
  background-size: initial;
  background-origin: initial;
  background-clip: initial;
  background-position: initial;
  background-repeat: initial
}



.img_7_1 {
  text-align:center
}
.img_7_2 {
  line-height:1.6
}
.img_7_3 {
  padding-right:3px;padding-bottom:3px;padding-left:3px;border-right-width:2px;border-bottom-width:2px;border-left-width:2px;border-style:none solid solid;border-right-color:#d0a973;border-bottom-color:#d0a973;border-left-color:#d0a973
}
.img_7_4 {
  padding:20px 15px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-style:none solid solid;border-right-color:#d0a973;border-bottom-color:#d0a973;border-left-color:#d0a973;font-size:14px;color:#060606;text-align:justify
}
.img_7_5 {
  margin-top:-15px;margin-left:15px;width:15px;height:30px;background:#d0a973
}

