.text_re_1 {
  border: 0 none;
  padding: 0;
}
.text_re_2 {
  position: static;
}
.text_re_3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: static;
}
.text_re_4 {
  width: 0;
  border-right-width: 10px;
  border-right-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}
.text_re_5 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.text_re_6 {
  position: static;
}

.text_2_1 {
  position: static;
  border: 0 none;
  padding: 0;
}
.text_2_2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  position: static;
}
.text_2_3 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.text_2_4 {
  position: static;
}
.text_2_5 {
  width: 0;
  border-left-width: 10px;
  border-left-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}

.text_28_1 {
  border: 0 none;
  padding: 0;
}
.text_28_2 {
  position: static;
  border: 0 none;
}
.text_28_3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_28_4 {
  width: 25%;
  text-align: right;
}
.text_28_5 {
  opacity: 0.8;
  margin-top: 5px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  color: inherit;
  border-left-width: 6px !important;
  border-left-style: solid !important;
  border-left-color: transparent !important;
  border-right-width: 6px !important;
  border-right-style: solid !important;
  border-right-color: transparent !important;
  display: inline-block;
}
.text_28_6 {
  opacity: 0.4;
  border-right-width: 10px;
  border-left-width: 0;
  border-right-style: solid;

  color: inherit;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  -webkit-transform: rotate(10deg);
  border-bottom-width: 6px !important;
  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  display: inline-block;
}
.text_28_7 {
  border-left-width: 20px;
  border-right-width: 0;
  border-left-style: solid;

  color: inherit;
  -webkit-transform: rotate(10deg);
  border-bottom-width: 10px !important;
  border-top-width: 15px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  display: inline-block;
  vertical-align: middle;
}
.text_28_8 {
  width: 50%;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}
.text_28_9 {
  display: inline-block;
}
.text_28_10 {
  width: 25%;
  text-align: left;
}
.text_28_11 {
  display: inline-block;
}
.text_28_12 {
  width: 0;
  height: 0;
  clear: both;
}

.text_29_1 {
  border: 0 none;
  padding: 0;
}
.text_29_2 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_29_3 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #f8d497;
  margin-top: -30px;
  margin-right: -15px;
}
.text_29_4 {
  padding: 5px 20px;
}
.text_29_5 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #f8d497;
  margin-left: 5px;
}

.text_30_1 {
  border: 0 none;
  padding: 0;
}
.text_30_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_30_3 {
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background: #fff;
  padding: 2px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-top: -30px;
  margin-right: -10px;
  box-sizing: border-box;
}
.text_30_4 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #f8d497;
}
.text_30_5 {
  padding: 5px 20px;
}
.text_30_6 {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #fff;
  padding: 2px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  margin-left: -10px;
  box-sizing: border-box;
}
.text_30_7 {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #f8d497;
}

.text_31_1 {
  border: 0 none;
  padding: 0;
}
.text_31_2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_31_3 {
  width: 30px;
  height: 10px;

  transform: skewX(45deg);
}
.text_31_4 {
  width: 30px;
  height: 10px;
  transform: skewX(-45deg);
}
.text_31_5 {
  padding: 0 15px;
}

.text_32_1 {
  border: 0 none;
  padding: 0;
}
.text_32_2 {
  margin-top: 10px;
  text-align: center;
}
.text_32_3 {
  display: inline-block;
  width: 30px;
  height: 2px;

  vertical-align: bottom;
}
.text_32_4 {
  display: inline-block;
  vertical-align: top;
}
.text_32_5 {
  height: 5px;

  border-bottom: none;
}
.text_32_6 {
  height: 5px;

  border-top: none;
}
.text_32_7 {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #2aaade;
  vertical-align: top;
}
.text_32_8 {
  padding: 2px 10px;
  font-size: 18px;
  color: #060606;
}

.text_33_1 {
  margin-top: 10px;
  border: 0 none;
  padding: 0;
}
.text_33_2 {
  text-align: center;
  padding-bottom: 10px;
}
.text_33_3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.text_33_4 {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  transform: rotate(45deg);
  margin-left: -4px;
  background: transparent;
}
.text_33_5 {
  display: inline-block;
  margin-left: -20px;
}
.text_33_6 {
  display: inline-block;
  border: 9px solid transparent;
  vertical-align: middle;
  margin-bottom: 3px;
}
