.background {
    background-image: url("http://p8afqcqwq.bkt.clouddn.com/FjDxYmC6UPAl3C7Am9uGe6yAmRF5");
    width: 100%;
    /*閫氳繃鎺у埗height鍙互鎺у埗鑳屾櫙鍥剧墖鐨勮窡闅忔ā寮�*/
    height: 100vh;
    background-attachment: local;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    overflow: auto;
    max-height: 100%;
}