.layout {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/*定位图标*/
.pos_tab {
  position: absolute;
  width: 80px;
  height: 43px;
  left: -90px;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #19a0fa;
  }
}