.layout {
  box-sizing: border-box;
  clear: both;
  border: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 48px;
  padding: 0;
  margin: 0;
  background: rgb(0, 167, 255);
}

.content{
  height: calc(100vh - 48px);
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-arrow-color: transparent; /*三角箭头的颜色*/
  scrollbar-face-color: transparent; /*立体滚动条的颜色（包括箭头部分的背景色）*/
  scrollbar-3dlight-color: transparent; /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: transparent; /*滚动条的高亮颜色（左阴影？）*/
  scrollbar-shadow-color: transparent; /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: transparent; /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: transparent; /*立体滚动条背景颜色*/
  scrollbar-base-color: transparent; /*滚动条的基色*/

  &::-webkit-scrollbar {
    border: none;
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  &::-webkit-resizer {
    display: none;
  }
}