.btn_2_1 {
  border: 0 none;
  padding: 0;
}
.btn_2_2 {
  position: static;
}
.btn_2_3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: static;
}
.btn_2_4 {
  width: 0;
  border-right-width: 10px;
  border-right-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}
.btn_2_5 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.btn_2_6 {
  position: static;
}

.btn_3_1 {
  position: static;
  border: 0 none;
  padding: 0;
}
.btn_3_2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  position: static;
}
.btn_3_3 {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border-radius: 0.5em;
  max-width: 90% !important;
}
.btn_3_4 {
  position: static;
}
.btn_3_5 {
  width: 0;
  border-left-width: 10px;
  border-left-style: solid;
  display: inline-block;
  margin-top: 1em;
  vertical-align: top;

  border-top-width: 6px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-width: 6px !important;
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}

.btn_4_1 {
  border: 0 none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0;
}
.btn_4_2 {
  display: inline-block;
  vertical-align: top;

}
.btn_4_3 {
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  box-shadow: #aeaeae 0 5px 3px;
}
.btn_4_4 {
  width: 2.5em;
  height: 2.5em;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  line-height: 2.5em;

  font-size: 2.2em;
  font-family: inherit;
  text-decoration: inherit;
  color: #fff;
}
.btn_4_5 {
  width: 0;
  height: 0;
  clear: both;
}
