.layout {
  height: 100vh;
  width: 100%;
}

.header {
  padding: 0;
  margin: 0;
  height: 48px;
  background: linear-gradient(to bottom right, #5ea2ff, #00b9ff, #00caff);
}

.side {
  background: white;
  overflow: auto;
  height: 100%;
}

.s {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-arrow-color: transparent; /*三角箭头的颜色*/
  scrollbar-face-color: transparent; /*立体滚动条的颜色（包括箭头部分的背景色）*/
  scrollbar-3dlight-color: transparent; /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: transparent; /*滚动条的高亮颜色（左阴影？）*/
  scrollbar-shadow-color: transparent; /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: transparent; /*立体滚动条外阴影的颜色*/
  scrollbar-track-color: transparent; /*立体滚动条背景颜色*/
  scrollbar-base-color: transparent; /*滚动条的基色*/

  &::-webkit-scrollbar {
    border: none;
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none
  }
  &::-webkit-scrollbar-track {
    display: none
  }
  &::-webkit-scrollbar-track-piece {
    display: none
  }
  &::-webkit-scrollbar-thumb {
    display: none
  }
  &::-webkit-scrollbar-corner {
    display: none
  }
  &::-webkit-resizer {
    display: none
  }

}