.bg_editor_card {
    width: 100%;
    height: 400px;
    cursor: pointer;
}
.bg_editor_card-grid {
    width: 40%;
    text-align: center;
}
.bg_editor-img-show{
    width: 70%;
    height: 240px;
    margin: auto;
    border: 1px solid #e7e7e7;
    text-align: center;
    padding:  0 40px;
    color: #e7e7e7;
}
.bg_editor-img{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.bg_editor-editor{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    color: #e7e7e7
}

.bg_editor-change{
    display: inline-block;
    color: #19a0fa
}

.bg_editor-delete{
    display: inline-block;
    margin-right: 25px;
    color: #19a0fa
}

.bg_editor-background_transparent {
    background: #eee;
    background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #bbb 0),
    linear-gradient(45deg, #bbb 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #bbb 0);
    background-position: 0 0, 15px 15px,
    15px 15px, 30px 30px;
    background-size: 30px 30px;
    width: 100%;
    height: 300px
}