
/*定位图标*/
.tab_one {
    position: absolute;
    left: -80px;
    top: 200px;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.tab_one:hover {
    position: absolute;
    left: -80px;
    top: 200px;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    color: #19a0fa;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.tab_two {
    position: absolute;
    left: -80px;
    top: 270px;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.tab_two:hover {
    position: absolute;
    left: -80px;
    top: 270px;
    width: 60px;
    height: 80px;
    color: #19a0fa;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.tab_three {
    position: absolute;
    left: -80px;
    top: 340px;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.tab_three:hover {
    position: absolute;
    left: -80px;
    top: 340px;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    color: #19a0fa;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

/*sider 侧边栏选择组件时使用的样式*/
.components_hover {
    padding: 5px 6px;
    transition: box-shadow .2s cubic-bezier(0.4, 0, 1, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow .2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform;
    cursor: pointer;
}

.components_hover:hover {
    padding: 5px 6px;
    background: rgba(221, 221, 221, .21);
    cursor: pointer;
}

/*visual 页面中间显示栏*/
.visual_content {
    margin: 60px auto;
    width: 350px;
    height: 600px;
    position: relative;
}
